* {
  box-sizing : border-box;
}
body {
  background-color: #070c55;
  color: white;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.root {
  display: flex;
  flex-direction: column;
}
header {
  background-color: #222b85;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
header .site-name {
  margin: 0;
}
.searchbar {
  border : 2px solid whitesmoke;
  border-radius: 50px;
  font-family: inherit;
  font-size: 1.2rem;
  background-color: transparent;
  color: white;
  padding:0.5rem 1.5rem;
}
.searchbar:focus {
  outline: 0;
}
.searchbar::placeholder {
  color: white;
}
.movie-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.movie {
  width: 300px;
  margin: 1rem;
  background-color: #222b85;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
  overflow: hidden;
  position: relative;
}
.movie img {
  object-fit: cover;
  height : 450px;
  width: 100%;
}
.movie-info {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
}
.movie-info h3 {
  margin : 0;
}
.movie-overview {
  background-color: white;
  color: #070c55;
  padding: 1rem;
  position: absolute;
  bottom : 0;
  left: 0;
  right: 0;
  overflow: auto;
  max-height: 100%;
  transform: translateY(102%);
  transition: transform 0.3s ease-in-out;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0 -3px 5px rgba(0,0,0,0.1);
}
.movie:hover .movie-overview {
  transform:translateY(0%);
}
.tag {
  background-color: #070c55;
  border-radius: 5px;
  font-weight: bold;
  padding: 0.5rem;
}
.tag.green {
  color: rgb(17, 179, 17);
}
.tag.orange {
  color: orange;
}
.tag.red {
  color: red;
}
.bars-to-pages {
  display: block;
  margin: auto;
  width: 60%;
}
.movie-pages {
  background-color: #222b85;
  text-align: center;
  color: white;
  padding: 1rem;
  border-radius: 2rem;
}
.movie-pages pgnumber {
  border-radius: 5px;
  font-weight: bold;
  padding: 0.5rem;
}
.page-change{
  background-color: transparent;
  border :0;
  color:red;
  font-size: medium;
  padding: 0.5rem;
}
.footer {
  margin-top: 1rem;
  background-color: #222b85;
  text-align: center;
  color: white;
  padding: 2rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}